*{
    margin: 0;
    box-sizing: border-box;
}
@media (min-width: 1400px){
    .container{
        max-width: 1320px;
    }
    .col-xxl-1{
        width: 8.3333%;
    }
    .col-xxl-2{
        width: 16.6666%;
    }
    .col-xxl-3{
        width: 25%;
    }
    .col-xxl-4{
        width: 33.3333%;
    }
    .col-xxl-5{
        width: 41.6666%;
    }
    .col-xxl-6{
        width: 50%;
    }
    .col-xxl-7{
        width: 58.3333%;
    }
    .col-xxl-8{
        width: 66.6666%;
    }
    .col-xxl-9{
        width: 75%;
    }
    .col-xxl-10{
        width: 83.3333%;
    }
    .col-xxl-11{
        width: 91.6666%;
    }
    .col-xxl-12{
        width: 100%;
    }
    /* ============ hero ============= */
    .banner-img{
        margin-left: 70px;
    }
    .hero::before{
        min-height: 800px;
    }
}
@media (min-width: 1200px) and (max-width: 1399px){
    .container{
        max-width: 1140px;
    }
    .col-xl-1{
        width: 8.3333%;
    }
    .col-xl-2{
        width: 16.6666%;
    }
    .col-xl-3{
        width: 25%;
    }
    .col-xl-4{
        width: 33.3333%;
    }
    .col-xl-5{
        width: 41.6666%;
    }
    .col-xl-6{
        width: 50%;
    }
    .col-xl-7{
        width: 58.3333%;
    }
    .col-xl-8{
        width: 66.6666%;
    }
    .col-xl-9{
        width: 75%;
    }
    .col-xl-10{
        width: 83.3333%;
    }
    .col-xl-11{
        width: 91.6666%;
    }
    .col-xl-12{
        width: 100%;
    }
    /* ================= header =================== */
    .info-side li a span{
        font-size: 16px;
    }
    .btn{
        font-size: 14px;
        padding: 15px 25px;
    }
    nav{
        height: 60px;
    }
    .icons{
        gap: 25px;
    }
    /* ============ hero ============= */
    .hero .title h2, .hero .title span{
        font-size: 70px;
    }
    .text-side p{
        font-size: 16px;
    }
    .banner-img{
        margin-left: 65px;
    }
    .hero::before{
        min-height: 800px;
    }
    .banner-img img{
        width: 500px;
        height: 580px;
    }
    .background .gradient{
        right: 5%;
        top: 17%;
    }
    .background > .left-img{
        width: 200px;
    }
    /* ======================= menu ===================== */
    .menu-text .title, .menu-img{
        transform: translateX(0%);
        opacity: 1;
    }
    .menu-text .title h2, .menu-text .title span{
        font-size: 55px;
    }
    /* ================ favourites ================== */
    .item{
        transform: translateY(0%);
        opacity: 1;
    }
    .favourites .title, .best-sellar .title, .catagories .title, .offer .title, .review .title, .sign-in .title, .follow-us .title, .popular .title, .offer-2 .title, .best .title, .review-2 .title, .sign-in-2 .title, .flavours-3 .title, .catagories-3 .title, .popular-3 .title, .review-3 .title, .questions .title, .members .title{
        transform: translateY(0%);
        opacity: 1;
    }
    .brownie img{
        width: 180px;
        height: 160px;
        object-fit: cover;
        margin-top: 20px;
    }
    .strawberry > img{
        width: 180px;
        height: 180px;
        object-fit: cover;
        margin-top: 10px;
    }
    .mint-choco img{
        width: 130px;
        height: 170px;
        margin: 10px auto 0px auto;
    }
    /* ================ review ===================*/
    .review .title h2, .review .title span{
        font-size: 55px;
    }
    .review-content p, .review-content-2{
        transform: scale(1);
        opacity: 1;
        font-size: 16px;
    }
    .review-content .name{
        margin-top: 30px;
    }
    .face-1{
        width: 90px;
        height: 85px;
    }
    .face-2{
        width: 82px;
        height: 81px;
    }
    .face-3{
        width: 78px;
        height: 87px;
    }
    .face-4{
        width: 99px;
        height: 90px;
    }
    .face-5{
        width: 92px;
        height: 97px;
    }
    .face-6{
        width: 85px;
        height: 84px;
    }
    .face-7{
        width: 73px;
        height: 67px;
    }
    .face-8{
        width: 78px;
        height: 87px;
    }
    /* ========== follow us =========*/
    .f-img::before, .f-img::after{
        display: none;
    }
    .p-dot{
        bottom: 8%;
        right: 8%;
    }
    .pink-dot{
        top: 35%;
        left: 8%;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .container{
        max-width: 960px;
    }
    .col-lg-1{
        width: 8.3333%;
    }
    .col-lg-2{
        width: 16.6666%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33.3333%;
    }
    .col-lg-5{
        width: 41.6666%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.3333%;
    }
    .col-lg-8{
        width: 66.6666%;
    }
    .col-lg-9{
        width: 75%;
    }
    .col-lg-10{
        width: 83.3333%;
    }
    .col-lg-11{
        width: 91.6666%;
    }
    .col-lg-12{
        width: 100%;
    }
    .justify-end-lg{
        justify-content: flex-end;
    }   
    /* =================== header =============== */
    .info-side li a span{
        font-size: 12px;
    }
    .social-side li span{
        font-size: 12px;
    }
    .btn{
        font-size: 11px;
        padding: 12px 20px;
    }
    .nav-list{
        font-size: 14px;
    }
    .nav-list > li > a{
        padding: 20px 0px;
    }
    .logo{
        width: 180px;
        height: 60px;
    }
    .icons{
        gap: 20px;
    }
    .icons a{
        font-size: 18px;
    }
    /* ============ hero ============= */
    .hero .title h2, .hero .title span{
        font-size: 50px;
    }
    .text-side p{
        font-size: 14px;
        margin-left: 10px;
    }
    .banner-img img{
        width: 420px;
        height: 480px;
    }
    .background .gradient{
        display: none;
    }
    .background > .left-img{
        width: 180px;
    }
    .text-side > span{
        font-size: 20px;
    }
    .text-side .btn{
        width: 250px;
        font-size: 12px;
    }
    .banner-img::after{
        display: none;
    }
    /* ======================= menu ===================== */
    .menu-text .title, .menu-img{
        transform: translateX(0%);
        opacity: 1;
    }
    .menu-text .title h2, .menu-text .title span{
        font-size: 45px;
    }
    .menu-text .title p{
        font-size: 18px;
    }
    .menu-img{
        width: 420px;
        height: 520px;
        margin-left: 10px;
    }
    .img-back{
        width: 350px;
        height: 350px;
        left: 8%;
        top: 6%;
    }
    .relive-circle{
        bottom: 30%;
        left: 1%;
    }
    .menu-text .btn{
        width: 220px;
    }
    /* favourites */
    .item{
        transform: translateY(0%);
        opacity: 1;
    }
    .favourites .title, .best-sellar .title, .catagories .title, .offer .title, .review .title, .sign-in .title, .follow-us .title, .popular .title, .offer-2 .title, .best .title, .review-2 .title, .sign-in-2 .title, .flavours-3 .title, .catagories-3 .title, .popular-3 .title, .review-3 .title, .questions .title, .members .title{
        transform: translateY(0%);
        opacity: 1;
    }
    /*  ============ offer ============= */
    .offer .title h2{
        font-size: 60px;
    }
    .offer p{
        font-size: 20px;
    }
    .offer .btn{
        font-size: 10px;
    }
    .get span{
        font-size: 12px;
    }
    /* ================ review ===================*/
    .review .title h2, .review .title span{
        font-size: 45px;
    }
    .review-content p, .review-content-2{
        transform: scale(1);
        opacity: 1;
        font-size: 14px;
    }
    .review-content .name{
        margin-top: 30px;
    }
    .face-1{
        width: 80px;
        height: 75px;
    }
    .face-2{
        width: 72px;
        height: 71px;
        left: 15%;
    }
    .face-3{
        width: 68px;
        height: 77px;
    }
    .face-4{
        width: 89px;
        height: 80px;
    }
    .face-5{
        width: 82px;
        height: 87px;
    }
    .face-6{
        width: 75px;
        height: 74px;
        right: 15%;
    }
    .face-7{
        width: 63px;
        height: 57px;
        top: 65%;
    }
    .face-8{
        width: 68px;
        height: 77px;
    }
    .name h4{
        font-size: 20px;
    }
    /* ========== sign in =========== */
    .sign-in .title h2, .sign-in .title span, .follow-us .title h2, .follow-us .title span{
        font-size: 50px;
    }
    .sign-in .title p, .form label, .follow-us .title p{
        font-size: 16px;
    }
    .sign-in .title{
        margin-bottom: 25px;
    }
    .input .email{
        transform: translateX(0%);
        opacity: 1;
    }
    .sign-in .btn, .sign-in-2 .btn{
        transform: translateX(0%);
        opacity: 1;
    }
    .sign-in .btn{
        width: 170px;
        font-size: 16px;
        line-height: 30px;
    }
    .input{
        margin-bottom: 30px;
    }
    .s-triangle{
        right: 10%;
    }
    /* ========= follow us ========== */
    .f-img::before, .f-img::after{
        display: none;
    }
    .p-dot{
        width: 100px;
        height: 100px;
        bottom: 10%;
        right: 6%;
    }
    .pink-dot{
        width: 100px;
        height: 100px;
        top: 40%;
        left: 6%;
    }
    /* ========== footer ========== */
    .navigation h3{
       margin-left: 0px;
       margin-right: 30px;
       text-align: right;
    }
    .footer-icons ul{
        margin-right: 60px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .container{
        max-width: 720px;
    }
    .col-md-1{
        width: 8.3333%;
    }
    .col-md-2{
        width: 16.6666%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33.3333%;
    }
    .col-md-5{
        width: 41.6666%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-7{
        width: 58.3333%;
    }
    .col-md-8{
        width: 66.6666%;
    }
    .col-md-9{
        width: 75%;
    }
    .col-md-10{
        width: 83.3333%;
    }
    .col-md-11{
        width: 91.6666%;
    }
    .col-md-12{
        width: 100%;
    }
    .justify-start-md{
        justify-content: flex-start;
    }
    /* =================== header =============== */
    .info-side li a span{
        font-size: 9px;
    }
    .info-side li a i{
        width: 20px;
        height: 20px;
        font-size: 10px;
        line-height: 20px;
    }
    .social-side li span{
        font-size: 9px;
    }
    .social-side li a i{
        width: 20px;
        height: 20px;
        font-size: 10px;
        line-height: 20px;
    }
    .info-side, .social-side{
        gap: 10px;
    }
    .btn{
        font-size: 7px;
        padding: 10px 12px;
    }
    .nav-list{
        font-size: 9px;
    }
    .nav-list > li > a{
        padding: 15px 0px;
    }
    .logo{
        width: 150px;
        height: 50px;
    }
    .icons{
        gap: 15px;
    }
    .icons a{
        font-size: 15px;
    }
    /* ============ hero ============= */
    .hero .title h2, .hero .title span{
        font-size: 40px;
    }
    .text-side p{
        font-size: 12px;
        margin-left: 10px;
    }
    .banner-img img{
        width: 320px;
        height: 380px;
    }
    .background .gradient{
        display: none;
    }
    .background > .left-img{
        width: 150px;
    }
    .text-side > span{
        font-size: 18px;
    }
    .text-side .btn{
        width: 200px;
        font-size: 10px;
        margin-left: 7px;
    }
    .hero::before{
        min-height: 560px;
    }
    .hero-pd{
        padding-top: 50px;
    }
    .banner-img::after{
        display: none;
    }
    /* ======================= menu ===================== */
    .menu-text .title, .menu-img{
        transform: translateX(0%);
        opacity: 1;
    }
    .menu-text .title h2, .menu-text .title span{
        font-size: 35px;
    }
    .menu-text .title p{
        font-size: 14px;
    }
    .menu-img{
        width: 340px;
        height: 420px;
        margin-left: 5px;
    }
    .img-back{
        display: none;
    }
    .relive-doted{
        width: 60px;
        height: 18px;
    }
    .relive-circle{
        bottom: 30%;
        left: 1%;
    }
    .relive-triangle{
        right: 2%;
    }
    .half-circle{
        width: 170px;
        height: 80px;
        right: 8%;
    }
    .menu-text .btn{
        width: 155px;
    }
    .menu-text .btn span{
        font-size: 12px;
    }
    /* ==================== favourites ================= */
    .item{
        transform: translateY(0%);
        opacity: 1;
    }
    .favourites .title, .best-sellar .title, .catagories .title, .offer .title, .review .title, .sign-in .title, .follow-us .title, .popular .title, .offer-2 .title, .best .title, .review-2 .title, .sign-in-2 .title, .flavours-3 .title, .catagories-3 .title, .popular-3 .title, .review-3 .title, .questions .title, .members .title{
        transform: translateY(0%);
        opacity: 1;
    }
    .favourites .title h2, .favourites .title span, .catagories .title h2, .catagories .title span, .best-sellar .title h2, .best-sellar .title span{
        font-size: 50px;
    }
    .favourite-right{
        width: 80px;
        height: 240px;
    }
    /* ================== catagories ================== */
    .catagories .title p{
        font-size: 14px;
    }
    /*  ============ offer ============= */
    .offer .title h2{
        font-size: 50px;
        margin-left: 50px;
    }
    .offer p{
        font-size: 15px;
        margin-left: 50px;
    }
    .offer .btn{
        font-size: 8px;
        margin-left: 50px;
    }
    .get span{
        font-size: 10px;
    }
    .r-img{
        width: 160px;
        height: 250px;
    }
    .offer-dis{
        width: 100px;
        height: 100px;
    }
    .dot-arrow{
        width: 200px;
    }
    /*  bestsellar */
    .title p{
        font-size: 14px;
    }
    /* ================ review ===================*/
    .review .title h2, .review .title span{
        font-size: 45px;
    }
    .review-content p, .review-content-2{
        transform: scale(1);
        opacity: 1;
        font-size: 14px;
    }
    .review-content .name{
        margin-top: 30px;
    }
    .face-1{
        width: 70px;
        height: 65px;
    }
    .face-2{
        width: 62px;
        height: 61px;
        left: 15%;
    }
    .face-3{
        width: 58px;
        height: 67px;
    }
    .face-4{
        width: 79px;
        height: 70px;
    }
    .face-5{
        width: 72px;
        height: 77px;
    }
    .face-6{
        width: 65px;
        height: 64px;
        right: 15%;
    }
    .face-7{
        width: 63px;
        height: 57px;
        top: 65%;
    }
    .face-8{
        width: 58px;
        height: 67px;
    }
    .name h4{
        font-size: 18px;
    }
    .name p{
        font-size: 12px;
    }
    /* ========== sign in =========== */
    .sign-in .title h2, .sign-in .title span, .follow-us .title h2, .follow-us .title span{
        font-size: 45px;
    }
    .sign-in .title p, .form label, .follow-us .title p{
        font-size: 14px;
    }
    .sign-in .title{
        margin-bottom: 20px;
    }
    .input .email{
        transform: translateX(0%);
        opacity: 1;
    }
    .sign-in .btn, .sign-in-2 .btn{
        transform: translateX(0%);
        opacity: 1;
    }
    .sign-in .btn{
        width: 180px;
        font-size: 12px;
        line-height: 30px;
    }
    .input{
        margin-bottom: 20px;
    }
    .s-triangle{
        right: 8%;
    }
    .input input::placeholder{
        font-size: 16px;
    }
    /* ========= follow us ========== */
    .f-img::before, .f-img::after{
        display: none;
    }
    .p-dot{
        width: 80px;
        height: 80px;
        bottom: 15%;
        right: 6%;
    }
    .pink-dot{
        width: 80px;
        height: 80px;
        top: 45%;
        left: 6%;
    }
    /* ======== footer ======= */
    .navigation h3{
        margin-left: 0px;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .container{
        max-width: 540px;
    }
    .col-sm-1{
        width: 8.3333%;
    }
    .col-sm-2{
        width: 16.6666%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-4{
        width: 33.3333%;
    }
    .col-sm-5{
        width: 41.6666%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-7{
        width: 58.3333%;
    }
    .col-sm-8{
        width: 66.6666%;
    }
    .col-sm-9{
        width: 75%;
    }
    .col-sm-10{
        width: 83.3333%;
    }
    .col-sm-11{
        width: 91.6666%;
    }
    .col-sm-12{
        width: 100%;
    }
    /* =================== header =============== */
    .back-top a{
        font-size: 10px;
    }
    .info-side li a span{
        font-size: 10px;
    }
    .info-side li a i{
        width: 15px;
        height: 15px;
        font-size: 8px;
        line-height: 15px;
    }
    .social-side li span{
        font-size: 10px;
    }
    .social-side li a i{
        width: 15px;
        height: 15px;
        font-size: 8px;
        line-height: 15px;
    }
    .info-side, .social-side{
        gap:5px;
    }
    .top-bar{
        min-height: 2px;
        padding: 0px;
        padding-bottom: 7px;
    }
    .btn{
        font-size: 5px;
        padding: 10px 5px;
    }
    .btn i{
        margin-left: 0px;
    }
    .nav-list{
        font-size: 9px;
        gap: 10px;
    }
    .nav-list > li > a{
        padding: 15px 0px;
    }
    .logo{
        width: 120px;
        height: 35px;
    }
    .nav-list li a i{
        margin-left: 0px;
    }
    .icons{
        gap: 10px;
    }
    .icons a{
        font-size: 13px;
    }
    .text-side{
        padding: 0px;
    }
    /* ============ hero ============= */
    .hero .title h2, .hero .title span{
        font-size: 30px;
        text-shadow: 0px 0px 0px #000;
    }
    .text-side p{
        font-size: 10px;
        margin-left: 5px;
    }
    .banner-img img{
        width: 230px;
        height: 250px;
    }
    .background .gradient{
        display: none;
    }
    .background > .left-img{
        width: 100px;
    }
    .text-side > span{
        font-size: 16px;
    }
    .text-side .btn{
        width: 180px;
        font-size: 8px;
        margin-left: 5px;
    }
    .hero::before{
        min-height: 380px;
    }
    .hero-pd{
        padding-top: 30px;
    }
    .line{
        width: 30px;
    }
    .background{
        height: 300px;
    }
    .banner-img::after{
        display: none;
    }
    /* ======================= menu ===================== */
    .menu-text .title, .menu-img{
        transform: translateX(0%);
        opacity: 1;
    }
    .menu-text .title h2, .menu-text .title span{
        font-size: 25px;
        text-shadow: none;
    }
    .menu-text .title p{
        font-size: 12px;
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .menu-img{
        width: 250px;
        height: 310px;
        margin-left: 0px;
    }
    .img-back{
        display: none;
    }
    .relive-doted{
        width: 50px;
        height: 15px;
    }
    .relive-circle{
        bottom: 30%;
        left: 1%;
        width: 50px;
        height: 50px;
    }
    .relive-triangle{
        right: 2%;
        width: 40px;
        height: 40px;
    }
    .half-circle{
        width: 110px;
        height: 40px;
        right: 8%;
    }
    .menu-text .btn{
        width: 130px;
        margin-left: 0px;
    }
    .menu-text .btn span{
        font-size: 10px;
        margin-left: 5px;
    }
    .menu-text .btn i{
        font-size: 10px;
        margin-left: 3px;
    }
    /* ===================== favourites ================= */
    .favourites, .best-sellar, .catagories, .offer, .review, .sign-in, .follow-us, .catagories-3{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .item{
        transform: translateY(0%);
        opacity: 1;
    }
    .favourites .title, .best-sellar .title, .catagories .title, .offer .title, .review .title, .sign-in .title, .follow-us .title, .popular .title, .offer-2 .title, .best .title, .review-2 .title, .sign-in-2 .title, .flavours-3 .title, .catagories-3 .title, .popular-3 .title, .review-3 .title, .questions .title, .members .title{
        transform: translateY(0%);
        opacity: 1;
    }
    .favourites .title h2, .favourites .title span, .catagories .title h2, .catagories .title span, .best-sellar .title h2, .best-sellar .title span{
        font-size: 36px;
    }
    .favourites .title p, .catagories .title p, .best-sellar .title p{
        font-size: 14px;
    }
    .brownie img{
        width: 160px;
        height: 140px;
        object-fit: cover;
        margin-top: 30px;
    }
    .strawberry > img{
        width: 160px;
        height: 160px;
        object-fit: cover;
        margin-top: 20px;
    }
    .mint-choco img{
        width: 130px;
        height: 170px;
        margin: 10px auto 0px auto;
    }
    .favourite-right{
        width: 60px;
        height: 200px;
    }
    .favourite-left{
        width: 160px;
        height: 260px;
    }
    /* ================== catagories ================== */
    .catagories .catagory-item{
        height: 300px;
    }
    .catagory-content p{
        font-size: 16px;
    }
    /*  ============ offer ============= */
    .offer .title h2{
        font-size: 40px;
        margin-left: 0px;
    }
    .offer p{
        font-size: 12px;
        margin-left: 0px;
        margin-top: 20px;
    }
    .offer .btn{
        width: 95px;
        font-size: 8px;
        margin-left: 0px;
    }
    .offer .get{
        margin-top: 20px;
        gap: 10px;
    }
    .get span{
        font-size: 8px;
    }
    .r-img{
        width: 160px;
        height: 250px;
    }
    .offer-dis{
        width: 80px;
        height: 80px;
        top: 27%;
    }
    .dot-arrow{
        width: 150px;
    }
    .s-dotted{
        width: 60px;
    }
    .m-triangle{
        width: 40px;
        height: 45px;
    }
    /* ========= best sellar =========== */
    .best-sellar .item-content h3, .best-sellar .item-content .price span{
        font-size: 20px;
    }
    .best-sellar .item-content p{
        font-size: 16px;
    }
    /* ================ review ===================*/
    .review .title h2, .review .title span{
        font-size: 35px;
    }
    .review-content p, .review-content-2{
        transform: scale(1);
        opacity: 1;
        font-size: 12px;
    }
    .review-content .name{
        margin-top: 20px;
    }
    .face-1{
        width: 60px;
        height: 55px;
    }
    .face-2{
        width: 52px;
        height: 51px;
        left: 15%;
    }
    .face-3{
        width: 48px;
        height: 57px;
    }
    .face-4{
        width: 69px;
        height: 60px;
    }
    .face-5{
        width: 62px;
        height: 67px;
    }
    .face-6{
        width: 55px;
        height: 54px;
        right: 15%;
    }
    .face-7{
        width: 53px;
        height: 47px;
        top: 65%;
    }
    .face-8{
        width: 48px;
        height: 57px;
    }
    .name h4{
        font-size: 16px;
    }
    .name p{
        font-size: 10px;
    }
    .review-content::before{
        width: 180px;
        height: 165px;
    }
    /* ========== sign in =========== */
    .sign-in .title h2, .sign-in .title span, .follow-us .title h2, .follow-us .title span{
        font-size: 35px;
        text-shadow: none;
    }
    .sign-in .title p, .form label, .follow-us .title p{
        font-size: 12px;
    }
    .sign-in .title{
        margin-bottom: 15px;
    }
    .input{
        flex-direction: column;
    }
    .input .email{
        transform: translateX(0%);
        opacity: 1;
        width: auto;
    }
    .sign-in .btn, .sign-in-2 .btn{
        transform: translateX(0%);
        opacity: 1;
    }
    .sign-in .btn{
        width: 120px;
        font-size: 12px;
        line-height: 30px;
        margin-left: auto;
        margin-right: auto;
        padding: 7px 5px;
    }
    .input{
        margin-bottom: 15px;
    }
    .s-triangle{
        right: 8%;
        width: 40px;
        height: 40px;
    }
    .s-circle{
        width: 50px;
        height: 50px;
    }
    .input input::placeholder{
        font-size: 14px;
    }
    /* ========= follow us ========== */
    .f-img::before, .f-img::after{
        display: none;
    }
    .p-dot{
        width: 80px;
        height: 80px;
        bottom: 5%;
        right: 13%;
    }
    .pink-dot{
        width: 80px;
        height: 80px;
        top: 18%;
        left: 15%;
    }
    .follow-img{
      row-gap: 30px;
    }
    .f-img img{
        width: 150px;
        height: 185px;
        object-fit: cover;
    }
    .f-img img{
        margin-left: auto;
        margin-right: auto;
    }
    /* ========== footer ========= */
    .navigation h3{
        font-size: 25px;
    }
    .navigation-list ul li a{
        font-size: 16px;
    }
    .footer-item{
        gap: 10px;
    }
    .footer-item i{
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
    }
    .footer-content h4{
        font-size: 14px;
    }
    .footer-content p{
        font-size: 12px;
    }
    .footer-icons ul li a{
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
}
@media (max-width: 575px){
    .container{
        max-width: 100%;
    }
    .col-xs-1{
        width: 8.3333%;
    }
    .col-xs-2{
        width: 16.6666%;
    }
    .col-xs-3{
        width: 25%;
    }
    .col-xs-4{
        width: 33.3333%;
    }
    .col-xs-5{
        width: 41.6666%;
    }
    .col-xs-6{
        width: 50%;
    }
    .col-xs-7{
        width: 58.3333%;
    }
    .col-xs-8{
        width: 66.6666%;
    }
    .col-xs-9{
        width: 75%;
    }
    .col-xs-10{
        width: 83.3333%;
    }
    .col-xs-11{
        width: 91.6666%;
    }
    .col-xs-12{
        width: 100%;
    }
    .text-center{
        text-align: center;
    }
    .margin-top-xs{
        margin-top: 30px;
    }
    .justify-center-xs{
        justify-content: center;
    }
    /* =================== header ================= */
    .back-top a{
        font-size: 8px;
    }
    .info-side li a span{
        font-size: 6px;
    }
    .info-side li a i{
        width: 10px;
        height: 10px;
        font-size: 6px;
        line-height: 10px;
    }
    .social-side li span{
        font-size: 6px;
    }
    .social-side li a i{
        width: 10px;
        height: 10px;
        font-size: 6px;
        line-height: 10px;
    }
    .info-side, .social-side{
        gap:5px;
    }
    .top-bar{
        min-height: 2px;
        padding: 0px;
        padding-bottom: 5px;
    }
    .btn{
        font-size: 8px;
        padding: 10px 5px;
        width: 80px;
    }
    .btn i{
        margin-left: 0px;
    }
    .nav-list{
        font-size: 4px;
        gap: 4px;
    }
    .nav-list > li > a{
        padding: 15px 0px;
    }
    .logo{
        width: 120px;
        height: 37px;
    }
    .nav-list li a i{
        margin-left: 0px;
    }
    .icons{
        gap: 5px;
    }
    .icons a{
        font-size: 8px;
    }
    .display-none{
        display: none;
    }
    .display-block{
        display: block;
    }
    .text-side{
        padding: 0px;
    }
    /* ============ hero ============= */
    .hero .title h2, .hero .title span{
        font-size: 30px;
        text-shadow: 0px 0px 0px #000;
        text-align: center;
    }
    .text-side p{
        font-size: 10px;
        margin-left: 5px;
        text-align: center;
    }
    .background .gradient{
        display: none;
    }
    .background > .left-img{
        width: 100px;
    }
    .text-side > span{
        font-size: 16px;
    }
    .text-side .btn{
        width: 180px;
        font-size: 8px;
        margin-left: auto; 
        margin-right: auto;
    }
    .hero::before{
        min-height: 385px;
    }
    .hero-pd{
        padding-top: 10px;
    }
    .line{
        width: 30px;
    }
    .background{
        height: 300px;
    }
    .banner-img::after{
        display: none;
    }
    /* ======================= menu ===================== */
    .menu-text .title, .menu-img{
        transform: translateX(0%);
        opacity: 1;
    }
    .menu-text .title h2, .menu-text .title span{
        font-size: 15px;
        text-shadow: none;
    }
    .menu-text .title p{
        font-size: 8px;
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .menu-img{
        width: 150px;
        height: 190px;
        margin-left: 0px;
    }
    .img-back{
        display: none;
    }
    .relive-doted{
        display: none;
    }
    .relive-circle{
        display: none;
        bottom: 30%;
        left: 1%;
        width: 50px;
        height: 50px;
    }
    .relive-triangle{
        display: none;
        right: 2%;
        width: 40px;
        height: 40px;
    }
    .half-circle{
        display: none;
        width: 110px;
        height: 40px;
        right: 8%;
    }
    .menu-text .btn{
        width: 90px;
        margin-left: 0px;
    }
    .menu-text .btn span{
        font-size: 6px;
    }
    .menu-text .btn i{
        font-size: 8px;
        margin-left: 2px;
    }
    /* ===================== favourites ================= */
    .favourites, .best-sellar, .catagories, .review, .sign-in, .follow-us, .catagories-3{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .item{
        transform: translateY(0%);
        opacity: 1;
        height: auto;
    }
    .favourites .title, .best-sellar .title, .catagories .title, .offer .title, .review .title, .sign-in .title, .follow-us .title, .popular .title, .offer-2 .title, .best .title, .review-2 .title, .sign-in-2 .title, .flavours-3 .title, .catagories-3 .title, .popular-3 .title, .review-3 .title, .questions .title, .members .title{
        transform: translateY(0%);
        opacity: 1;
    }
    .favourites .title h2, .favourites .title span, .catagories .title h2, .catagories .title span, .best-sellar .title h2, .best-sellar .title span{   
        font-size: 25px;
        text-shadow: none;
    }
    .favourites .title p, .catagories .title p, .best-sellar .title p{
        font-size: 8px;
    }
    .brownie img, .s-sundae img{
        width: 160px;
        height: 150px;
        object-fit: cover;
        margin-top: 5px;
    }
    .strawberry > img, .peach img{
        width: 130px;
        height: 135px;
        object-fit: cover;
        margin-top: 13px;
    }
    .mint-choco img{
        width: 110px;
        height: 140px;
        margin: 10px auto 0px auto;
    }
    .vanilla img, .choco-chip-cookie img{
        width: 80px;
        height: 160px;
    }
    .favourite-right{
       display: none;
    }
    .favourite-left{
        width: 90px;
        height: 140px;
    }
    .item .item-img{
        height: 180px;
    }
    .item-content h3{
        font-size: 18px;
    }
    .rating span{
        font-size: 14px;
    }
    .rating img{
        width: 10px;
        height: 10px;
        object-fit: cover;
    }
    .item-content p{
        font-size: 14px;
        margin-top: 8px;
    }
    .price span{
        font-size: 18px;
        margin-top: 10px;   
    }
    .item-content i{
        padding: 8px;
        font-size: 16px;
        bottom: -2px;
    }
    /* ================== catagories ================== */
    .catagories .catagory-item{
        height: 150px;
    }
    .catagory-content p{
        font-size: 8px;
    }
    .catagory-content{
        height: 7px;
        padding: 13px;
    }
    .catagory-content i{
        padding: 5px;
        font-size: 10px;
        margin-bottom: 5px;
    }
    /*  ============ offer ============= */
    .offer{
        padding: 20px;
    }
    .offer .title h2{
        font-size: 40px;
        margin-left: 0px;
        margin-top: 40px;
    }
    .offer p{
        font-size: 12px;
        margin-left: 0px;
        margin-top: 20px;
    }
    .offer .btn{
        width: 95px;
        font-size: 8px;
        margin-left: 0px;
    }
    .offer .get{
        margin-top: 20px;
        gap: 10px;
    }
    .get span{
        font-size: 10px;
    }
    .btn span{
        font-size: 7px;
        margin-right: 5px;
        margin-left: 10px;
    }
    .r-img{
        display: none;
        width: 160px;
        height: 250px;
    }
    .offer-dis{
        width: 50px;
        height: 50px;
        top: 27%;
        left: 60%;
    }
    .dot-arrow{
        width: 100px;
        left: 66%;
        top: 16%;
    }
    .s-dotted{
        display: none;
        width: 60px;
    }
    .m-triangle{
        display: none;
        width: 40px;
        height: 45px;
    }
    /*  best sellar */
    .rocky-road img{
        width: 96px;
        height: 153px;
        margin: 1px auto;
    }
    /* ================ review ===================*/
    .review .title h2, .review .title span{
        font-size: 25px;
        text-shadow: none;
    }
    .review-content p, .review-content-2{
        transform: scale(1);
        opacity: 1;
        font-size: 8px;
        line-height: 1.2;
    }
    .review-content .name{
        margin-top: 20px;
    }
    .face-1{
        width: 40px;
        height: 35px;
    }
    .face-2{
        width: 32px;
        height: 31px;
        left: 15%;
    }
    .face-3{
        width: 28px;
        height: 37px;
    }
    .face-4{
        width: 49px;
        height: 40px;
    }
    .face-5{
        width: 42px;
        height: 47px;
        top: 30%;
    }
    .face-6{
        width: 35px;
        height: 34px;
        top: 50%;
        right: 15%;
    }
    .face-7{
        width: 33px;
        height: 27px;
        top: 65%;
    }
    .face-8{
        width: 28px;
        height: 37px;
    }
    .name h4{
        font-size: 12px;
    }
    .name p{
        font-size: 8px;
    }
    .stars{
        margin: 3px auto;
    }
    .stars img{
        width: 5px;
        height: 5px;
    }
    .review-content::before{
        width: 100px;
        height: 95px;
    }
    /* ========== sign in =========== */
    .sign-in .title h2, .sign-in .title span, .follow-us .title h2, .follow-us .title span{
        font-size: 25px;
        text-shadow: none;
    }
    .sign-in .title p, .form label, .follow-us .title p{
        font-size: 10px;
    }
    .sign-in .title{
        margin-bottom: 10px;
    }
    .input{
        flex-direction: column;
    }
    .input .email{
        transform: translateX(0%);
        opacity: 1;
        width: auto;
        height: 30px;
    }
    .sign-in .btn, .sign-in-2 .btn{
        transform: translateX(0%);
        opacity: 1;
    }
    .sign-in .btn{
        width: 80px;
        font-size: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px 5px;
    }
    .input{
        margin-bottom: 10px;
    }
    .s-triangle{
        right: 8%;
        width: 25px;
        height: 25px;
    }
    .s-circle{
        width: 35px;
        height: 35px;
        left: 5%;
    }
    .input input::placeholder{
        font-size: 10px;
    }
    /* ========= follow us ========== */
    .f-img::before, .f-img::after{
        display: none;
    }
    .p-dot{
        width: 60px;
        height: 60px;
        bottom: 4%;
        right: 5%;
    }
    .pink-dot{
        width: 60px;
        height: 60px;
        top: 20%;
        left: 6%;
    }
    .follow-img{
        gap: 0px;
        row-gap: 20px;
    }
    .f-img img{
        width: 110px;
        height: 145px;
        object-fit: cover;
        border-radius: 10px;
    }
    .f-img img{
        margin-left: auto;
        margin-right: auto;
    }
    /* ========= footer ========= */
    .navigation h3{
        font-size: 25px;
        margin-top: 30px;
        margin-left: 70px;
    }
    .navigation-list ul li a{
        font-size: 16px;
    }
    .footer, .footer-2{
        padding: 10px;
        padding-top: 50px;
    }
}