*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    scroll-behavior: smooth;
}
::selection{
    background-color: #000;
    color: white;
}
/* declaring variables */
:root{
    --primary-color: #f83d8e;
    --primary-color-rgb: 248, 61, 142;
    --secondary-color: rgb(104, 50, 146);
    --secondary-color-rgb: 104, 50, 146;
    --tertiary-color: black;
    --text-color-light: #707070;
    --white: #fff;
    --black: #000;
    --white-rgb: 255, 255, 255;
    --black-rgb: 0, 0, 0;
    --heading-font-size: 30px;
    --text-size: 20px;
    --pri-font: 'Berkshire Swash';
    --sec-font: 'Archivo';
    --gw: 15px;
    --gh: 15px;
}
/* setting primary variables */
body{
    font-family: var(--sec-font);
    background-color: var(--white);
    color: var(--black);
    font-size: var(--text-size);
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
}
ul, ol{
    padding-left: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--pri-font);
    font-weight: 200;
}
.container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
    padding-left: var(--gw);
    padding-right: var(--gw);
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gw));
    margin-right: calc(-1 * var(--gw));
}
.col-1{
    width: 8.3333%;
}
.col-2{
    width: 16.6666%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.3333%;
}
.col-5{
    width: 41.6666%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.3333%;
}
.col-8{
    width: 66.6666%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.3333%;
}
.col-11{
    width: 91.6666%;
}
.col-12{
    width: 100%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    padding-left: var(--gw);
    padding-right: var(--gw);
} 
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-end{
    justify-content: flex-end;
}
.item-end{
    justify-items: flex-end;
}
.self-center{
    align-self: center;
}
.grow{
    flex-grow: 1;
}
.order-1{
    order: 1;
}
.order-2{
    order: 2;
}
.order-3{
    order: 3;
}
.order--1{
    order: -1;
}
.margin-top{
    margin-top: 80px;
}
.margin-bottom{
    margin-bottom: 80px;
}
.margin-top-240{
    margin-top: 240px;
}
.title{
    margin-bottom: 30px;
    text-align: center;
}
.title p{
    margin-bottom: 50px;
    font-family: var(--sec-font);
    margin-top: 15px;
    font-size: 20px;
}
.title h2{
    font-size: 65px;
    text-shadow: 2px 2px 2px var(--black);
}
.title span{
    font-size: 65px;
    color: var(--primary-color);
}

/* back to top */
.back-top{
    position: fixed;
    bottom: 8%;
    right: -1%;
    transform: rotate(-90deg);
    z-index: 2000;
}
.back-top a{
    color: var(--primary-color);
    font-weight: 1000;
    font-size: 14px;
}
.back-top a i{
    margin-left: 10px;
}

/* ========= top bar ========= */
.top-bar{
    width: 100%;
    min-height: 10px;
    background-color: rgba(var(--primary-color-rgb), 0.6);
    padding: 5px;
    position: relative;
}
.top-bar::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgba(var(--secondary-color-rgb), 0.6);
    right: 0;
    top: 0;
    z-index: -1;
    clip-path: polygon(3% 0%, 0% 50%, 3% 100%, 100% 100%, 100% 0%);
}
.info-side, .social-side{
    display: flex;
    gap: 20px;
}
.info-side li a i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(var(--white-rgb), 0.7);
    text-align: center;
    line-height: 30px;
    display: inline-block;
    color: var(--secondary-color);
    font-size: 14px;
}
.info-side li a span:hover{
    color: var(--secondary-color);
}
.info-side li a span{
    margin-left: 5px;
    font-size: 18px;
    color: rgba(var(--white-rgb), 0.7);
}
.social-side li span{
    font-size: 16px;
    color: rgba(var(--white-rgb), 0.7);
}
.social-side li a i{
    width: 30px;
    height: 30px;
    background-color: rgba(var(--white-rgb), 0.7);
    border-radius: 50%;
    text-align: center;
    line-height: 31px;
    display: inline-block;
}
.social-side li a{
    color: var(--secondary-color)
}
.info-side li a i:hover, .social-side li a i:hover{
    color: var(--primary-color);
}

/* ========= nav-bar ========= */
nav{
    z-index: 1000;
    position: sticky;
    top: 0;
    position: relative;
    padding-top: 5px;
}
.z-index{
    z-index: 1000;
}
.logo{
    width: 200px;
    height: 70px;
    z-index: 1000;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav-list{
    display: flex;
    font-family: var(--sec-font);
    gap: 30px;
    font-size: 16px;
    z-index: 1000;
}
.nav-list > li > a{
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 25px 0;
    display: inline-block;
}
.nav-list li a i{
    margin-left: 3px;
}
.nav-list > li > a:hover{
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}
.nav-list > li:first-child > a{
    color: var(--primary-color);
    font-weight: 700;
}
.icons{
    display: flex;
    gap: 40px;
}
.icons a{
    color: var(--black);
    font-size: 20px;
}

/* button */
.btn{
    color: var(--white);
    font-family: var(--sec-font);
    font-size: 16px;
    display: block;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: var(--primary-color);
    text-align: center;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-left: 5px;
}
.btn i{
    margin-left: 5px;
    z-index: 1;
}
.btn:hover{
    box-shadow: 0px 0px 10px var(--secondary-color);
}
.btn::before, .btn::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 150px;
    background-color: var(--secondary-color);
    z-index: -1;
    transition: all 0.5s ease-in-out;
    border-radius: 70%;
    opacity: 0;
}
.btn::before{
    top: -70px;
    left: -15px;
    transform: rotate(45deg) translateX(-70%);
    transition: all 0.5s ease-in-out;
}
.btn::after{
    bottom: -70px;
    right: -20px;
    transform: rotate(45deg) translateX(65%);
    transition: all 0.5s ease-in-out;
}
.btn:hover::before, .btn:hover::after{
    transform: rotate(45deg) translateX(0%);
    opacity: 1;
}

/* dropdown */
.dropdown{
    position: relative;
    display: inline-block;
    z-index: 1000;
}
.dropdown-menu{
    position: absolute;
    width: 150px;
    left: -10%;
    display: none;
    transition: all 1s ease;
    z-index: 1000;
    background-color: rgba(var(--primary-color-rgb), 0.4);
}
.dropdown:hover .dropdown-menu{
    display: block;
    transition: all 1s ease;
}
.dropdown-menu li a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    display: inline-block;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.dropdown-menu li{
    transition: all 0.5s ease;
    border-bottom: 1px solid rgba(var(--black-rgb), 0.1);
}
.dropdown-menu li:hover{
    background-color: rgba(var(--primary-color-rgb), 0.5);
}